IO_LOC  "port8" 25;

IO_LOC  "port7" 26;

IO_LOC  "port6" 27;

IO_LOC  "port5" 28;

IO_LOC  "binary[0]" 14;
IO_PORT "binary[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "binary[1]" 13;
IO_PORT "binary[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "binary[2]" 11;
IO_PORT "binary[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "binary[3]" 10;
IO_PORT "binary[3]" DRIVE=8 IO_TYPE=LVCMOS18;
