IO_LOC  "segG" 42;
IO_PORT "segG" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segF" 41;
IO_PORT "segF" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segA" 35;
IO_PORT "segA" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segB" 40;
IO_PORT "segB" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segC" 56;
IO_PORT "segC" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segD" 55;
IO_PORT "segD" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segE" 54;
IO_PORT "segE" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "dec" 57;
IO_PORT "dec" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "uni" 33;
IO_PORT "uni" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "btn" 31;
IO_PORT "btn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "leds[0]" 10;
IO_PORT "leds[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "leds[1]" 11;
IO_PORT "leds[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "leds[2]" 13;
IO_PORT "leds[2]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "leds[3]" 14;
IO_PORT "leds[3]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "gray[0]" 25;
IO_PORT "gray[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "gray[1]" 26;
IO_PORT "gray[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "gray[2]" 27;
IO_PORT "gray[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "gray[3]" 28;
IO_PORT "gray[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
