IO_LOC  "neg_sign" 56;
IO_PORT "neg_sign" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segA" 42;
IO_PORT "segA" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segB" 41;
IO_PORT "segB" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segC" 57;
IO_PORT "segC" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segD" 68;
IO_PORT "segD" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segE" 69;
IO_PORT "segE" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segF" 53;
IO_PORT "segF" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "segG" 54;
IO_PORT "segG" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "colum[0]" 32;
IO_PORT "colum[0]" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "colum[1]" 31;
IO_PORT "colum[1]" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "colum[2]" 49;
IO_PORT "colum[2]" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "colum[3]" 48;
IO_PORT "colum[3]" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "row[0]" 82;
IO_PORT "row[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "row[1]" 81;
IO_PORT "row[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "row[2]" 79;
IO_PORT "row[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "row[3]" 80;
IO_PORT "row[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "reset" 83;
IO_PORT "reset" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "dispmil" 26;
IO_PORT "dispmil" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "dispcen" 25;
IO_PORT "dispcen" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "dispdec" 27;
IO_PORT "dispdec" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "dispuni" 28;
IO_PORT "dispuni" DRIVE=12 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP;
